<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- bootstrap -->
  <!-- FOR USING Jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- FOR USING BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- FOR custom css file -->
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

  <!-- FOR LOADING ICONS -->
  <script src="https://kit.fontawesome.com/39ea4545e9.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
  <title>-ANY- Online Photo Album</title>
</head>

<body>
  <div class="photoalbum">
    {{> header }}

    <div class="roomlisting">
      {{#if user}}
      <h3>Welcome, {{user.f_name}} {{user.l_name}}</h3>
      {{else}}
      <h3>Welcome to Room List</h3>
      {{/if}}
    </div>
    <nav class="bar_search">
      <form class="example" action="/search" method="POST">
        <input list="Location" id="location" type="text" placeholder="Search location..." name="location">
        <datalist id="Location">
          <option value="japan"></option>
          <option value="Toronto"></option>
          <option value="Mexico"></option>

        </datalist>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>

    <div style="text-align: center, margin-top:50px"> </div>
    <div class="listing_container">
      {{#if hasRooms }} {{#each rooms}}

      <div class="photo-tile" style="width:300px;border:1px dashed #6495de;padding:16px">
        <div>
          <img src="/photos/{{filename}}" style="width:80%;" />
        </div>

        <div class="roomid">Title: {{title}}</div>
        <div class="roomid">Description: {{description}}</div>
        <div class="roomid">Location: {{location}}</div>
        <div class="roomid">Price: {{price}}</div>
        <a href="/roomDetail/{{_id}}">Get to Room Description</a>
      </div> {{!-- end photo-title class--}}
      {{/each}} {{else}}
      <p>
        There is no Rooms
      </p>
      {{/if }}
    </div>
    <a href="/logout">Log out </a> | <a href="/admin_RoomList">Room List </a>
  </div>
</body>

</html>