<!doctype html>
<html>

<head>
    <title>User Profile - {{login_user.username}}</title>
    <link rel="stylesheet" href="css/theme.css" />

</head>

<body>
    {{> header login_user}}
    <h1>User Profile: {{login_user.username}}</h1>
    <label class="fixedlabel">User Name:</label>{{login_user.username}}<br />
    <label class="fixedlabel">First Name:</label>{{login_user.firstName}}<br />
    <label class="fixedlabel">Last Name:</label>{{login_user.lastName}}<br />
    <label class="fixedlabel">E-mail:</label>{{login_user.email}}<br />
    <label class="fixedlabel">Is Administrator:</label>{{login_user.isAdmin}}<br />
    <a href="/Profile/Edit">Edit</a>
    {{> footer login_user}}
</body>

</html>